{release, {elevators, "1"},
 [elevators,
  sasl]}.

{generate_start_script, false}.

{target_dir, "elevators"}.

{overlay, [
           {mkdir, "log/sasl"},
           {template, "files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
           {template, "files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/elevators", "bin/elevators"},
           {template, "files/elevators.cmd", "bin/elevators.cmd"},
           {template, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
